

html {
    height: 100%;
    background-color: rgb(30, 53, 30);
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    /* NOTE for some reason the canvas doesn't extend to the bottom of the page... */
    background-color: #181818;
}

#canvas_div {
    /* if position is set to fixed, it acts as a background image */
    /* TODO ? have it know when its scrolling and scroll with it. */
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    background-color: green;
}
canvas {
    width: 100%;
    height: 100%;
}


#the_rest {
    position: absolute;
}

#the_part_that_contains_all_the_text {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 2rem;

    height: 100%;
    display: flex;
    flex-direction: column;
}

#my_name_in_the_middle {
    margin: auto;
    /* must set this manually because something
     * is weird with transferring coordinates from
     * typescript to wasm, and if the box i too small,
     * the collision box font fit the text.
     */
    width: 33rem;
    color: rgb(109, 98, 238);
}

#not_my_passion {
    margin: auto;

    /* Ditto reason in #my_name_in_the_middle */
    width: 32rem;

    color: rgb(109, 98, 238);
}

#NOT {
    text-shadow: rgb(188, 255, 244) 0rem 0rem 0.5rem;
}




/* ---------------------------------------------------- */
/*                   Slider Stuff                       */
/* ---------------------------------------------------- */

summary {
    background-color: #151515;
    color: lightgoldenrodyellow;
    opacity: 0.7;
    padding: 0.5rem;
    font-size: 1.5rem;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
#slideContainer {
    position: absolute;

    display: grid;
    grid-template-columns: 10rem 10rem;
}

.rangeHolder {
    background-color: #151515;

    width: 90%;

    justify-self: center;

    padding: 0.2rem;
    border-radius: 0.2rem;

    display: flex;
    flex-direction: column;
    opacity: 0.7;
    align-items: center;

    margin: 0.1rem;
}
.rangeHolder:hover { opacity: 1; }

.checkbox_toggle { margin-top: 10px; }
.checkbox_toggle_label {
    padding: 1rem;
    color: lightgoldenrodyellow;
}

.sliderKey { color: lightgoldenrodyellow; }
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
/* Mouse-over effects */
.slider:hover { opacity: 1; }
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
